---
title: Noz's Diveshop
---

<div>
  <div class="padded" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-left">
         <h1>Dive.in</h1>
    <p>
      Come and discover <br>
      the best the sea has to offer
    </p>
    <%= link_to "Book now", "#", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

  <!-- Features -->

<div class="bg-blue padded">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "turtle.svg", class: "slideUp" %>
        <h3>Natural wonders</h3>
        <p>
          You will be amazed at what you'll in our <strong>underwater paradise</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "shark.svg", class: "slideDown" %>
        <h3>Pelagics</h3>
        <p>
          A lot of sites have more pelagic species <strong>than you can count</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "frogfish.svg", class: "slideRight" %>
        <h3>Bizzare creatures</h3>
        <p>
          Come with us and discover <strong>muck diving</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "seahorse.svg", class: "slideRight" %>
        <h3>And cute ones</h3>
        <p>
          You will also find the cutest of all, the <strong>pigmy seahorse</strong>
        </p>
      </div>
    </div>
  </div>
</div>



  <div class="padded text-center bg-blue">
    <h2>Stay up to date</h2>
    <p>Register so you never miss important news</p>
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="bob@gmail.com">
        <input type="submit" placeholder="Subscribe" class="btn btn-primary">
      </div>
    </form>
  </div>
  <!-- Map -->
  <div id="map" style="width: 100%; height: 500px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(37.771183, -122.422207);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>

</div><!-- .welcome -->
